<ion-view view-title="Liste des pays">
<ion-content>
	<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
		<ion-item
		ng-repeat="countrie in countries"
		item="countrie"
		class="item-remove-animate"
		ui-sref="countryDetail({iso2 : countrie.iso2})">
			{{ countrie.name }}
		</ion-item>
	</ion-list>
</ion-content>
</ion-view>
