<ion-view view-title="Liste des contrats">
	<ion-content>
		<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
			<ion-item
			ng-repeat="contract in contracts"
			item="contract"
			class="item-remove-animate"
			ui-sref="stationDetail({idContrat : contract.id})">
				{{ contract.brandName }} - {{ contract.name }}
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
