<ion-view view-title="Localisation">
	<ion-content>
		<ng-map class="map" id="map" center="[{{latitude}}, {{longitude}}]" zoom="14" zoom-control="true" scale-control="false" map-type-control="false" street-view-control="false" map-initialized="init(map)">
			<marker ng-repeat="pos in localisationPos" position="[{{pos.latitude}}, {{pos.longitude}}]">
			<marker position="[{{latitude}}, {{longitude}}]">
		</ng-map>
	</ion-content>
</ion-view>
