<ion-view view-title="Detail station">
<ion-content>
	  		<ion-item
	  		ng-repeat="station in stations"
	  		item="station"
	  		class="item-remove-animate">
<div class="list card">

		    <div class="item">
		    	<!-- <img src="mcfly.jpg"> -->
		    	<h2>{{ station.name }}</h2>
		    	<p><i class="icon ion-clock"></i> {{station.lastUpdate| date:'HH:mm'}} - <span ng-class="{close:!station.open, open:station.open}">{{station.open?"Ouvert":"Fermer" }}</span></p>
		    </div>

		    <div class="item item-body">
		    	<!-- <img class="full-image" src="delorean.jpg"> -->
		    	<p>
			          <div href="#" class="item item-icon-left">
							<i class="icon ion-home"></i>
					    {{station.address}}
					</div>
  			          <div href="#" class="item item-icon-left">
  					    <i class="icon ion-pricetag"></i>
  					    {{station.banking?"Oui":"Non"}}
					</div>

		    	</p>
		      	<p>
					<i class="icon icon ion-android-bicycle"></i>
			        <i class="subdued">{{station.availableBikes}}</i>
					<i class="icon icon ion-pause"></i>
			        <i class="subdued">{{station.availableFreeSpots}}</i>
		      	</p>
		    </div>

</div>
	</ion-item>
</ion-content>
</ion-view>
