/* Empty. Add your own CSS if you like */
.close{color: red}
.open{color: green}
.map-container
{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  .map
  {
    height: 100%;
    width: 100%;
  }
}
